<%- include("header.ejs") %>
<form class="" action="/home" method="post">
  <label for="name">NAME</label>
  <input type="text" name="name" value="">

  <label for="age">AGE</label>
  <input type="text" name="" value="">

  <label for="SYMPTOMS">SYMPTOMS</label>
  <input type="text" name="SYMPTOMS" value="">

  <label for="gender">Gender</label>
  <input type="text" name="gender" value="">

  <label for="img">UPLOAD IMAGE</label>
  <button id="buttonn" type="submit" name="submit">choose file</button>

  <button id="buttonn" type="submit" name="finsub">Submit</button>
</form>

<%- include("footer.ejs") %>
